<%- include ("header") -%>
<h2>This is the about page</h2>
<p>I am Salam!</p> 
<p>kagjshgkjadgkjhakhgjkashgjassjfhkjashgahkgjhaskgh g gahkgh  hgkahgkahgh jjahkshgasjhgha ,akghaghghgk</p>

<%- include ("footer") -%> 